<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <style>
        h1{
            margin-top: 50px;
            margin-left: 40%;
        }
        p{
            margin-left: 40%;
            margin-bottom: 30px;
        }

    </style>
</head>
<body>
<h1>Welcome!</h1>

<p>Click <a th:href="@{/login}">here</a> to login.</p>
<p>Click <a th:href="@{/result}">here</a> to result.</p>

</body>
</html>